.header{
    background-color: #FFFFFF;
    font-family: "Raleway";
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 400;
   

    .header-elements{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

    }
    .header-left{
        display: flex;
        gap: 1.5rem;
        li{
             color: #1D1F22;
        }
    }
}