.main-div-wrapper {

.main-page-title {
  position: relative; 
  top: 150px;
  left: 15%;
  font-family: "Raleway";
  font-size: 30px;
  

}
  .main-div {
    display: grid;
    grid-template-columns: repeat(3, 386px);
    justify-content: center;
    gap:150px;
    margin-top:200px;

    .product-card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border: none;
      padding: 15px;
      width: 386px;
      height: 444px;
      gap: 16px;
      .product-image {
        height: 354px;
        margin-bottom: 30px;
      }
      .product-name {
        font-family: "Raleway";
        font-size: 18px;
        font-weight: 300;
        color: #1d1f22;
      }
      .product-price {
        font-weight: 400;
        font-family: "--price-regular-font";
        color: #1d1f22;
      }
}
      
    }
  }

.product-card:hover {
  border: 1px solid #a8acb0;
  box-shadow: 0 4px 35px 0px rgba(168, 172, 176, 0.19); /* 19% opacity */
  transform: scale(1.05);
}
.cart-icon {
  position: relative;
  opacity: 0;

  left: 80%;
  border: none;
  background-color: transparent;
  transition: opacity 0.25s ease;
  cursor:copy;
}
.product-card:hover .cart-icon {
  opacity: 1;
}

